html {
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

section {
    border-bottom: 0.05em slategray solid;
}

.nav, .row {
    display: flex;
}

.nav {
    padding: 0;
}

.card {
    flex: 1;
}

.card img {
    width: 100%;
}

.nav li {
    display: inline-block;
    margin: 1% 1.5%;
    flex: 1;
    text-align: center;
}

#banner {
    height: 300px;
}